.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
  background-color: #61443a;
  color: white;
}
.cart_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 450px;
  background-color: #f0e9e4;
  color: black;
  border-radius: 10px;
  margin: 20px 0;
}

.order_table {
  width: 300px;
  border-collapse: collapse;
  margin: 10px 0 40px 0;
}

.order_table td {
  padding: 5px;
  text-align: center;
}
.quantity_text {
  margin: 0 4px;
  text-align: center;
}
.small_btn {
  width: 18px;
  height: 18px;
  font-size: 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.delete_btn {
  margin: 0 10px;
  border: none;
  background-color: #61443a;
  color: white;
  border-radius: 2px;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.total {
  /* 오른쪽으로 붙은 값 */
  margin-left: 180px;
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.add_btn,
.order_btn {
  color: white;
  height: 44px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.add_btn {
  background-color: rgb(186, 150, 125);
}

.order_btn {
  background-color: #61443a;
}

.totalprice {
  color: #61443a;
  font-weight: bold;
  font-size: 17px;
  margin-top: 2px;
}
