.title {
  color: #61443a;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
}

.label {
  font-size: 20px;
  font-weight: bold;
  color: #61443a;
  width: 100px;
}

.inputContainer {
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 20px;
}

.input {
  width: 300px;
  height: 30px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px auto;
}
.button {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background-color: #61443a;
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border: none;
}
